<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://route.arcgis.com/"
                   matchAll="true"
									 clientid="XhvPiNGwPySPZaFe"
    							 clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />
				<serverUrl url="http://traffic.arcgis.com/"
                   matchAll="true"
									 clientid="XhvPiNGwPySPZaFe"
    							 clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />
				<serverUrl url="http://demographics2.arcgis.com"
                   matchAll="true"
									 username="hhkaos2"
									 password="ka18os21"
                   />
				<serverUrl url="http://demographics3.arcgis.com"
                   matchAll="true"
									 username="hhkaos2"
									 password="ka18os21"
									 
                   />
                   

                   
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->

<!--clientid="c3TmJQVJYlNE6ORP"
    							 clientsecret="8cbe6a29454c43e19171d5ba93da60ba" -->