<!DOCTYPE html>
<html ng-app="esri-map-example">

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.14/esri/css/esri.css">
</head>

<body ng-controller="MapController">

<esri-map id="map" center="map.center" zoom="map.zoom" basemap="{{map.basemap}}">
  <esri-feature-layer ng-repeat="url in selectedLayers" url="{{url}}"></esri-feature-layer>
</esri-map>
<div ng-repeat="layer in layers">
  <input type="checkbox" ng-model="selected" ng-change="toggleLayer(layer.url)" /> {{layer.name}} <br />
</div>
<p>Basemap:
  <select ng-model="map.basemap">
    <option value="gray">Gray</option>
    <option value="dark-gray">Dark Gray</option>
    <option value="topo">Topographic</option>
    <option value="streets">Streets</option>
    <option value="satellite">Satellite</option>
    <option value="hybrid">Hybrid</option>
    <option value="oceans">Oceans</option>
    <option value="national-geographic">National Geographic</option>
    <option value="osm">Open Street Map</option>
  </select>
  Lat: {{ map.center.lat | number:3 }}, Lng: {{ map.center.lng | number:3 }}, Zoom: {{map.zoom}}
</p>

<script type="text/javascript" src="http://js.arcgis.com/3.14compact"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="bower_components/angular-esri-map/dist/angular-esri-map.js"></script>
<script type="text/javascript">
  angular.module('esri-map-example', ['esri.map'])
          .controller('MapController', function ($scope) {
            $scope.map = {
              center: {
                lng: -3.703403,
                lat: 40.4171792
              },
              zoom: 15,
              basemap: 'gray'
            };

            $scope.layers = [{
                name: 'Líneas de metro',
                url: 'http://services1.arcgis.com/8MFSmLQvO5AV2Ytj/arcgis/rest/services/LineasMetro/FeatureServer/0'
              },{
                name: 'Estaciones de metro',
                url: 'http://services1.arcgis.com/8MFSmLQvO5AV2Ytj/arcgis/rest/services/Estaciones_de_Metro_Madrid/FeatureServer/0'
              }
            ];

            // list of layers currently added to the map
            $scope.selectedLayers = [];

            // add/remove a layer to/from the map by URL
            $scope.toggleLayer = function (url) {
              console.log('Toggling ' + url);
              var index = $scope.selectedLayers.indexOf(url);
              if (index >= 0) {
                $scope.selectedLayers.splice(index, 1);
              } else {
                $scope.selectedLayers.push(url);
              }
              console.log('Selected layers: ' + $scope.selectedLayers);
            };
          });
</script>
</body>

</html>