<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://www.arcgis.com/"
                   matchAll="true"
                   clientid="XhvPiNGwPySPZaFe"
                   clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />
        <serverUrl url="https://services.arcgisonline.com/"
                   matchAll="true"
                   clientid="XhvPiNGwPySPZaFe"
                   clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />

        <serverUrl url="http://static.arcgis.com/"
                   matchAll="true"
                   clientid="XhvPiNGwPySPZaFe"
                   clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />
                   

        <serverUrl url="http://route.arcgis.com/"
                   matchAll="true"
									 clientid="XhvPiNGwPySPZaFe"
    							 clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />
        
				<serverUrl url="http://traffic.arcgis.com/"
                   matchAll="true"
									 clientid="XhvPiNGwPySPZaFe"
    							 clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />

				<serverUrl url="https://demographics2.arcgis.com/"
                   matchAll="true"
									 clientid="XhvPiNGwPySPZaFe"
                   clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />

				<serverUrl url="https://demographics3.arcgis.com"
                   matchAll="true"
									 clientid="XhvPiNGwPySPZaFe"
                   clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />

        <serverUrl url="https://tiles.arcgis.com"
                   matchAll="true"

        <serverUrl url="https://geoenrich.arcgis.com/"
                   matchAll="true"
                   clientid="XhvPiNGwPySPZaFe"
                   clientsecret="b19008fd2b8d4d2b976d4857cd9c0de0"
                   />                   
                   
                   />
                   

                   
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->

<!--clientid="c3TmJQVJYlNE6ORP"
    							 clientsecret="8cbe6a29454c43e19171d5ba93da60ba" -->